.about-hero {
  background: url("../../assets/about-bg.png");
  min-height: 70vh;
}
.page-hero {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-hero h1 {
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}
.intro {
  display: flex;
  max-width: 70vw;
  margin: 0 auto;
}
.intro-text p {
  font-size: 17px;
  margin-bottom: 20px;
  line-height: 26px;
  padding-left: 30px;
}
.about .subheading {
  padding: 40px 0;
}
.about-img {
  display: block;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 812px) {
  .intro {
    flex-direction: column;
    max-width: none;
    width: 100%;
  }
  .page-container {
    margin-top: 0;
  }
  .page-hero h1 {
    font-size: 50px;
  }
  .intro-text p {
    padding: 10px;
  }
  .about-hero {
    min-height: 50vh;
  }
  .about .subheading {
    padding: 20px 15px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .intro {
    max-width: none;
  }
  .about-img {
    width: 55vw;
    height: auto;
  }
}
