.about-hero {
  background: url("../../assets/about-bg.png");
  min-height: 70vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.intro {
  display: flex;
  max-width: 1120px;
  margin: 0 auto 50px auto;
}
.intro-text p {
  font-size: 17px;
  margin-bottom: 20px;
  line-height: 26px;
  padding-left: 30px;
}
.about .subheading {
  padding: 40px 0;
}
.about-img {
  display: block;
  height: auto;
}
@media screen and (max-width: 812px) {
  .about-hero {
    background: url("../../assets/about-mob-bg.jpg");
    min-height: 50vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .intro {
    flex-direction: column;
    max-width: none;
    width: 100%;
  }
  .page-container {
    margin-top: 0;
  }
  .page-hero h1 {
    font-size: 50px;
  }
  .intro-text p {
    padding: 10px 30px;
    margin-bottom: 10px;
  }
  .about .subheading {
    padding: 20px 15px;
  }
  .about-img {
    margin: 0 auto;
    max-height: 500px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .about-hero {
    background: url("../../assets/about-tablet-bg.jpg");
    min-height: 50vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .intro {
    max-width: none;
  }
  .about-img {
    width: 55vw;
    height: auto;
  }
}
