.destinations-hero {
  background: url("../../assets/destinations-bg.jpg");
  min-height: 60vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 812px) {
  .destinations-hero {
    background: url("../../assets/destinations-mobile-bg.jpg");
    min-height: 38vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media only screen and (min-width: 375px) and (max-width: 812px) and (orientation: landscape) {
  .destinations-hero {
    background: url("../../assets/destinations-mobile-bg.jpg");
    min-height: 70vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
