.faq-hero {
  background: url("../../assets/faq-bg.jpg");
  min-height: 70vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.faq-wrapper {
  background-color: #f8f6f4;
}
.faqs {
  width: 100%;
  margin: 0 auto;
  max-width: 1120px;
  padding: 15px;
}
.faqs .faq {
  margin: 15px;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #d8d0d0;
}
.faqs .faq:hover {
  cursor: pointer;
}
.faqs .faq .faq-question {
  position: relative;
  font-size: 20px;
  padding-right: 80px;
  transition: all 0.3s ease-out;
}
.faqs .faq .faq-answer {
  opacity: 0;
  height: 0px;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(1, 0, 1, 0);
}

.faqs .faq .faq-question::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url("../../assets/arrow-down-solid.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.3s cubic-bezier(0, 1, 0, 1);
}
.faqs .faq.open .faq-question {
  margin-bottom: 15px;
}
.faqs .faq.open .faq-question::after {
  transform: translateY(-50%) rotate(180deg);
}
.faqs .faq.open .faq-answer {
  max-height: 1000px;
  height: auto;
  opacity: 1;
}
@media screen and (max-width: 812px) {
  .faq-hero {
    background: url("../../assets/faq-mob-bg.jpg");
    min-height: 50vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .faq-hero {
    background: url("../../assets/faq-tablet-bg.jpg");
    min-height: 50vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
