.footer {
  background-color: #000;
  color: #fff;
  min-height: 151px;
}
.footer-content {
  max-width: 1250px;
  margin: 0 auto;
  padding: 40px 0;
}
.footer-content > div {
  display: flex;
  justify-content: space-evenly;
}
.lists {
  list-style: none;
  display: flex;
}
.footer_link {
  margin-left: 10px;
}
.footer_link:hover {
  cursor: pointer;
}
.footer-social-link {
  font-size: 24px;
}
