.tours__wrapper {
  background-color: #fff;
}
.tours__content {
  display: flex;
  max-width: 1120px;
}
.tours__content p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 24px;
}
.tours__wrapper .container {
  padding: 50px 0;
}
.tours__pic {
  display: block;
  margin-right: 40px;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 812px) {
  .tours__content {
    max-width: none;
    width: 100%;
    flex-direction: column;
  }
  .tours__content > div {
    padding: 0 15px;
  }
  .tours__wrapper .container {
    padding: 25px 0;
  }
  .tours__pic {
    margin: 0 20px 20px 0;
    width: 100%;
  }
  .subheading {
    font-size: 24px;
    padding: 0 10px;
  }
}
