* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  -webkit-text-size-adjust: none;
}
.page-hero h1 {
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.8;
}

.services {
  /* background-image: url("/images/img-2.jpg"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  /* background-image: url("/images/img-1.jpg"); */
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  /* background-image: url("/images/img-8.jpg"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.container {
  /* max-width: 1120px; */
  display: flex;
  justify-content: center;
}
.page-container {
  margin-top: 30px;
}
.page-hero {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subheading {
  text-align: center;
  /* font-family: 'Dancing Script', cursive, sans-serif; */
  font-size: 35px;
  letter-spacing: 2px;
  font-weight: 100;
  background-color: #fff;
}
ul {
  list-style: none;
}
